// 例として種類毎にスタイルまとめてみたりした
// こいつはボタンシリーズ的な感じ

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid $color-green;
  color: $color-green;
  text-decoration: none;
  padding: 10px 30px;
  &:hover {
    color: $color-white;
    background-color: $color-green;
  }
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid $color-gray;
  color: $color-gray;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
  &:hover {
    color: $color-white;
    background-color: $color-gray;
  }
}

.button--gif {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid $color-gray;
  color: $color-green;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
  &:hover {
    background-image: url("#{$img-path}nuxt_jump.gif");
    color: $color-gray;
  }
}